#bodyindex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainindex mainindex mainindex" "footerindex footerindex footerindex";
}

#bodypromo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.6fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainpromo mainpromo mainpromo" "footerindex footerindex footerindex";
}

#bodyayc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.8fr 1.16fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainayc mainayc mainayc" "footerayc footerayc footerayc";
}

#bodytips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "headerindex headerindex headerindex" "maintips maintips maintips" "footerindex footerindex footerindex";
}

header {
  grid-area: headerindex;
  display: grid;
  justify-content: center;
  align-items: center;
}
header .logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header div img {
  width: 50%;
}
header .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: normal;
}
header .links li {
  list-style-type: none;
  background-color: #F2EAD3;
  border-radius: 5px;
}
header .links li:hover {
  background-color: #D7C0AE;
}
header .links li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
@media screen and (max-width: 468px) {
  header .links li a {
    font-size: small;
  }
}

.mainindex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: mainindex;
}
.mainindex #contenedor {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .mainindex #contenedor {
    width: 80%;
  }
}
@media screen and (max-width: 468px) {
  .mainindex #contenedor {
    width: 85%;
  }
}
.mainindex .contenido {
  font-family: helvetica;
}
@media screen and (max-width: 468px) {
  .mainindex div h1 {
    font-size: medium;
  }
}
@media screen and (max-width: 468px) {
  .mainindex div p {
    font-size: small;
  }
}

.faja {
  background-color: #DFD7BF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: normal;
}
@media screen and (max-width: 468px) {
  .faja h1 {
    font-size: medium;
  }
}

.mainpromo {
  grid-area: mainpromo;
  margin-top: 1%;
}
.mainpromo section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .mainpromo section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: normal;
    row-gap: 3rem;
    column-gap: 6rem;
  }
}
.mainpromo section img {
  width: 20%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .mainpromo section img {
    width: 27%;
    object-fit: cover;
  }
}

.mainayc {
  grid-area: mainayc;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: normal;
}

.maintips {
  grid-area: maintips;
  margin-top: 3%;
}
.maintips div article {
  font-family: helvetica;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: normal;
  align-items: normal;
  row-gap: 1.5rem;
  margin-top: 3%;
}
.maintips div nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  margin-top: 5%;
  list-style-type: none;
}
.maintips div nav ul li a {
  color: black;
  text-decoration: none;
  font-size: large;
}
.maintips .circulo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #DFD7BF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 3%;
}
.maintips .circulo:hover {
  background-color: #D7C0AE;
}

footer {
  background-color: #DFD7BF;
  font-family: helvetica;
  font-size: xx-small;
  grid-area: footerindex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: normal;
}
@media screen and (max-width: 468px) {
  footer {
    font-size: 0.4rem;
  }
}

#piedepagina {
  background-color: #DFD7BF;
  grid-area: footerayc;
  font-size: medium;
  display: flex;
  flex-flow: column nowrap;
  justify-content: normal;
  align-items: normal;
  row-gap: 8rem;
}
#piedepagina .divfooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 320px) {
  #piedepagina .divfooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 468px) {
  #piedepagina h2 {
    font-size: medium;
  }
}
@media screen and (max-width: 468px) {
  #piedepagina ul li {
    font-size: 0.7rem;
  }
}
#piedepagina h3 {
  font-size: small;
}
@media screen and (max-width: 468px) {
  #piedepagina h3 {
    font-size: x-small;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=estilo.css.map */
