#bodyindex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainindex mainindex mainindex" "footerindex footerindex footerindex";
}

#bodypromo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.6fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainpromo mainpromo mainpromo" "footerindex footerindex footerindex";
}

#bodyayc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1.15fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainayc mainayc mainayc" "footerayc footerayc footerayc";
}

#bodytips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "headerindex headerindex headerindex" "maintips maintips maintips" "footerindex footerindex footerindex";
}

#bodyreg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "headerindex headerindex headerindex" "mainreg mainreg mainreg" "footerindex footerindex footerindex";
}

header {
  grid-area: headerindex;
  display: grid;
  justify-content: center;
  align-items: center;
}
header .logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header div img, header .mainreg div .img2, .mainreg header div .img2 {
  width: 50%;
}
header .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: normal;
  column-gap: 5rem;
  padding: 0%;
}
@media screen and (max-width: 400px) {
  header .links {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }
}
header .links li {
  list-style-type: none;
  background-color: #331D2C;
  border-radius: 5px;
  padding: 4px;
}
header .links li:hover {
  background-color: #3F2E3E;
}
header .links li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: sans-serif;
}
@media screen and (max-width: 468px) {
  header .links li a {
    font-size: small;
  }
}

.mainindex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: mainindex;
}
.mainindex #contenedor {
  width: 70%;
  margin: 0 auto;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 23px #b1b1b1, -10px -10px 23px #ffffff;
}
@media screen and (max-width: 768px) {
  .mainindex #contenedor {
    width: 80%;
  }
}
@media screen and (max-width: 468px) {
  .mainindex #contenedor {
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
  .mainindex #contenedor {
    width: 90%;
  }
}
.mainindex .contenido {
  font-family: helvetica;
}
.mainindex div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 468px) {
  .mainindex div h1 {
    font-size: medium;
  }
}
@media screen and (max-width: 468px) {
  .mainindex div p {
    font-size: small;
  }
}

.faja {
  background-color: #A78295;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: normal;
  font-family: sans-serif;
}
.faja h1 {
  color: whitesmoke;
}
@media screen and (max-width: 468px) {
  .faja h1 {
    font-size: medium;
  }
}
@media screen and (max-width: 768px) {
  .faja h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .faja h1 {
    font-size: 1.2rem;
  }
}

.mainpromo {
  grid-area: mainpromo;
}
.mainpromo section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .mainpromo section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: normal;
    row-gap: 3rem;
    column-gap: 6rem;
  }
}
.mainpromo section img, .mainpromo section .mainreg div .img2, .mainreg div .mainpromo section .img2 {
  width: 20%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .mainpromo section img, .mainpromo section .mainreg div .img2, .mainreg div .mainpromo section .img2 {
    width: 27%;
    object-fit: cover;
  }
}

.mainayc {
  grid-area: mainayc;
}
.mainayc div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
@media screen and (max-width: 468px) {
  .mainayc div {
    margin-top: 25%;
  }
}
@media screen and (max-width: 320px) {
  .mainayc div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.mainayc div img, .mainayc .mainreg div .img2, .mainreg .mainayc div .img2 {
  width: 20%;
}
@media screen and (max-width: 769px) {
  .mainayc div img, .mainayc .mainreg div .img2, .mainreg .mainayc div .img2 {
    width: 42%;
  }
}
@media screen and (max-width: 320px) {
  .mainayc div img, .mainayc .mainreg div .img2, .mainreg .mainayc div .img2 {
    width: 70%;
  }
}
.mainayc div .divmail {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #A78295;
  width: 30%;
  padding: 5%;
}
.mainayc div .mail {
  width: 100%;
  padding: 5px;
}
.mainayc div h1, .mainayc div h2 {
  font-family: sans-serif;
  font-size: medium;
  margin-bottom: 10%;
}

.maintips {
  grid-area: maintips;
}
.maintips div article {
  font-family: helvetica;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: normal;
  align-items: normal;
  row-gap: 1.5rem;
  margin-top: 3%;
}
@media screen and (max-width: 320px) {
  .maintips div article h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 468px) {
  .maintips div article p {
    font-size: 0.85rem;
  }
}
.maintips div nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: normal;
  margin-top: 4%;
  list-style-type: none;
  padding: 0%;
}
@media screen and (max-width: 320px) {
  .maintips div nav ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
.maintips div nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
}
@media screen and (max-width: 468px) {
  .maintips div nav ul li a {
    font-size: medium;
  }
}
.maintips .circulo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #331D2C;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
}
@media screen and (max-width: 468px) {
  .maintips .circulo {
    width: 6.5rem;
    height: 6.5rem;
  }
}
.maintips .circulo:hover {
  background-color: #3F2E3E;
}

.mainreg {
  grid-area: mainreg;
}
.mainreg article h2 {
  font-family: helvetica;
  text-align: center;
  margin-top: 2%;
}
@media screen and (max-width: 768px) {
  .mainreg article h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 468px) {
  .mainreg article h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .mainreg article h2 {
    font-size: 0.92rem;
  }
}
.mainreg section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: normal;
  align-items: normal;
}
@media screen and (max-width: 468px) {
  .mainreg section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 4rem;
  }
}
.mainreg div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
}
.mainreg div img, .mainreg div .img2 {
  width: 50%;
  object-fit: cover;
  margin-top: 3%;
}
.mainreg div .img2 {
  width: 56%;
}
.mainreg div p {
  font-family: helvetica;
}
@media screen and (max-width: 320px) {
  .mainreg div p {
    font-size: 0.8rem;
  }
}

footer {
  background-color: #EFE1D1;
  font-family: helvetica;
  font-size: xx-small;
  grid-area: footerindex;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 468px) {
  footer {
    font-size: 0.4rem;
  }
}

#piedepagina {
  background-color: #EFE1D1;
  grid-area: footerayc;
  font-size: 0.9rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: normal;
  row-gap: 8rem;
}
#piedepagina .divfooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media screen and (max-width: 320px) {
  #piedepagina .divfooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
#piedepagina .footerlogos {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-end;
}
#piedepagina h1 {
  font-size: large;
}
#piedepagina h2 {
  font-size: medium;
}
#piedepagina h3 {
  font-size: x-small;
}
@media screen and (max-width: 468px) {
  #piedepagina ul li {
    font-size: 0.7rem;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=estilo.css.map */
