#bodyindex {
    @include grid (3);
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainindex mainindex mainindex"
    "footerindex footerindex footerindex";
}

#bodypromo {
    @include grid (3);
    grid-template-rows: 0.5fr 2fr 0.6fr;
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainpromo mainpromo mainpromo"
    "footerindex footerindex footerindex";
}

#bodyayc {
    @include grid (3);
    grid-template-rows: 1fr 0.8fr 1.16fr;
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainayc mainayc mainayc"
    "footerayc footerayc footerayc"
    ;
}

#bodytips {
    @include grid (3);
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas:     
    "headerindex headerindex headerindex"
    "maintips maintips maintips"
    "footerindex footerindex footerindex"
    ;
}

#bodyreg {
    @include grid (3);
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas: 
    "headerindex headerindex headerindex"
    "mainreg mainreg mainreg"
    "footerindex footerindex footerindex"
;
}