footer {
    background-color: map-get($map: $color, $key: "marrónsuave" );
    font-family: map-get($map: $fuente, $key: "main" );
    font-size: xx-small;
    grid-area: footerindex;
    @include flexible (flex, column, nowrap, flex-end, normal);
    @include mq {
        font-size: 0.4rem;
    }
}

#piedepagina {
    background-color: map-get($map: $color, $key: "marrónsuave" );
    grid-area: footerayc;
    font-size: medium;
    @include flexible (flex, column, nowrap, normal, normal);
    row-gap: 8rem;
    .divfooter {
        @include flexible (flex, row, nowrap, space-around, center);
        @include mq (320px) {
            @include flexible (flex, row, wrap, center, center );  
        }
    }
    h2 {
        @include mq {font-size: medium;}
    }
    ul {
        li {
            @include mq {font-size: 0.7rem;}
    }
        }
        h3 {
            font-size: small;
            @include mq {font-size: x-small;}
        }
    
    }



