header {
    grid-area: headerindex;
    display: grid;
    justify-content: center;
    align-items: center;
    .logo {
        @include flexible (flex, row, wrap, center, center);
        margin: auto;
    }
    div {
        img {
            width: 50%;
        }
    }
    .links {
        @include flexible (flex, row, wrap, space-between, normal);
        padding: 0%;
        li {
            @include headernav;
            &:hover {
                background-color: map-get($map: $color, $key: "hover" );
            }
            a {
                text-decoration: none;
                color: black;
                font-family: map-get($map: $fuente, $key:"principal" );
                @include mq {
                    font-size: small;
                }
            }
        }
    }
}