header {
    grid-area: headerindex;
    display: grid;
    justify-content: center;
    align-items: center;
    .logo {
        @include flexible (flex, row, wrap, center, center);
        margin: auto;
    }
    div {
        img {
            width: 50%;
        }
    }
    .links {
        @include mq (400px) {
            @include flexible (flex, column, wrap, center, center);
            row-gap: 0.5rem;
        }
        @include flexible (flex, row, nowrap, space-between, normal);
        column-gap: 5rem;
        padding: 0%;
        
        li {
            @include headernav;
            padding: 4px;
            &:hover {
                background-color: map-get($map: $color, $key: "hover" );
            }
            a {
                text-decoration: none;
                color: whitesmoke;
                font-family: map-get($map: $fuente, $key:"principal" );
                @include mq {
                    font-size: small;
                }
            }
        }
    }
}