.mainindex {
    @include flexible (flex, column, nowrap, center, center);
    grid-area: mainindex;
    #contenedor {
        width: 70%;
        margin: 0 auto;
        @include mq (768px) {
            width: 80%;
        }
        @include mq {
            width: 85%;
        }
    }
    .contenido {
        font-family: map-get($map: $fuente, $key: "main" );
    }
    div {
        h1 {
            @include mq {font-size: medium;}
        }
        p {
            @include mq {font-size: small;}
        }
    } 
}

.faja {
    background-color: map-get($map: $color, $key: "marrónsuave" );
    @include flexible (flex, row, nowrap, center, normal);
    h1 {
        @include mq {font-size: medium}
    }
} 

.mainpromo {
    grid-area: mainpromo;
    margin-top: 1%;
    section {
        @include flexible (flex, row, nowrap, space-around, normal);
        width: 90%;
        margin: auto;
        @include mq (768px) {
            @include flexible (flex, row, wrap, space-around, normal);
            row-gap: 3rem;
            column-gap: 6rem;
        }
        img {
            width: 20%;
            object-fit: cover;
            @include mq (768px) {
                width: 27%;
                object-fit: cover;
            }
        }
    }
}

.mainayc {
    grid-area: mainayc;
    @include flexible (flex, row, nowrap, center, normal);
}